flask
websockets

docker

# blivedm
aiohttp~=3.9.0
Brotli~=1.1.0
yarl~=1.9.3

# llm module
openai
elasticsearch

# llm-vector-searcher
langchain
langchain_openai
langchain_community

# tts module
azure-cognitiveservices-speech

# renderer module
requests
# - sound 确保ffmpeg已经安装
pydub

# config
pyyaml

# cli
tabulate
wcwidth